* { 
	font-family: "Roboto", Times, serif;
	font-weight: light;
}

QWidget {
	background-color: $grey;
	border: 0px;
}

QWidget#tbaDark {
	background-color: $grey-dark;
}

QWidget#tbaList * {
	padding: 10px;
	background-color: $grey;
	color: white;
}

// LABELS
QLabel#header {
	font-size: 15px;
}

QLabel#footer {
	font-size: 14px;
}

// LIST WIDGETS
QListWidget {
  padding: 10px;
  background-color: red;
}

QListWidget:focus {
  outline: 0px;
}

QListWidget::item {
    //color: white;
}

QListWidget::item:hover {
    background-color: $primary-hover;
}

QListWidget::item:selected {
    background-color: $primary;
}

QListWidget::item[labelClass="dark"] {
    color: red;
}

QListWidget::item:disabled {
	color: $grey-dark;
}

// BUTTONS
QPushButton * {
  color: #ddd;
}

QPushButton:hover {
  color: white;
}

// DIALOGS
QInputDialog * {
	color: white;
}

// messageBox
QMessageBox * {
  color: $grey-lighter;
}

// TOOLTIPS
QToolTip {
  padding: 0px;
  border-radius: 3px;
}

