* { 
	font-family: "Roboto", Times, serif;
	font-weight: light;
}

QWidget {
	background-color: $grey;
  border: 0px;
}

QWidget#tbaDark {
	background-color: $grey-dark;
}

QWidget#tbaList * {
	padding: 10px;
	background-color: $grey;
	color: white;
}

// LABELS
QLabel#header {
	font-size: 15px;
}

QLabel#footer {
	font-size: 14px;
}

// LIST WIDGETS
QListWidget {
  padding: 10px;
  background-color: red;
}

QListWidget:focus {
  outline: 0px;
}

QListWidget::item {
    //color: white;
}

QListWidget::item:hover {
    background-color: $primary-hover;
}

QListWidget::item:selected {
    background-color: $primary;
}

QListWidget::item[labelClass="dark"] {
    color: red;
}

QListWidget::item:disabled {
	color: $grey-dark;
}

// BUTTONS
QPushButton * {
  color: #ddd;
}

QPushButton:hover {
  color: white;
}

// DIALOGS
QInputDialog * {
	color: white;
}

// messageBox
QMessageBox * {
  color: $grey-lighter;
}

// TOOLTIPS
QToolTip {
  padding: 0px;
  border-radius: 3px;
}

// COMBOBOX (DROPDOWN)
QComboBox {
  background-color: rgba(0,0,0,0);
  padding: 5px;
}

QComboBox:drop-down {
  font-weight: bold;
  border: 0px;
  border-radius: 4px;
  width: 24px;  
  max-height: 44px;
}

QComboBox:down-arrow {
  image: url('./images/arrow_drop_down_black_36.png'); 
  width: 24px; 
  height: 24px;
}

QComboBox::indicator{
  display: hidden;
  width: 0px;
  height: 0px;
}

QListView { 
  background-color: red;
  padding: 10px;
}


// FRAME


