* { 
	font-family: "Roboto", Times, serif;
	font-weight: light;
}

QWidget {
	background-color: $grey;
	border: 0px;
}

QWidget#tbaDark {
	background-color: $grey-dark;
}

QWidget#tbaList * {
	padding: 10px;
	background-color: $grey;
	color: white;
}

// LABELS
QLabel#header {
	font-size: 16px;
}

QLabel#footer {
	font-size: 14px;
	background-color: $grey-light;
}

// LIST WIDGETS
QListWidget {
  padding: 10px;
  background-color: red;
}

QListWidget:focus {
  outline: 0px;
}

QListWidget::item {
    //color: white;
}

QListWidget::item:hover {
    background-color: $primary-hover;
}

QListWidget::item:selected {
    background-color: $primary;
}

QListWidget::item[labelClass="dark"] {
    color: red;
}

QListWidget::item:disabled {
	color: $grey-dark;
}

QInputDialog * {
	color: white;
}
