$primary: rgb(207,66,53);
$primary-hover: rgba(207,66,53,0.5);
$primary-light: #FFDDEE;

$secondary: rgb(64, 162, 153);
$secondary-hover: rgba(64, 162, 153, 0.5);

$grey: rgb(80,85,95);
$grey-dark: rgb(50,55,60);
$grey-light: rgb(100,105,115);
$grey-lighter: rgb(200,205,210);

$openIcon: 'ljdflksdfklfj'